<p>
  <ion-select [(ngModel)]="voiceName">
    <ion-select-option *ngFor="let name of (this.speechService.languageNames$|async)" [value]="name">{{name}}</ion-select-option>
  </ion-select>

  <ion-range min="0" max="100" step="1" ticks="10" pin [(ngModel)]="pitch">
    <ion-icon size="small" slot="start" name="musical-note"></ion-icon>
    <ion-icon slot="end" name="musical-notes"></ion-icon>
  </ion-range>

  <ion-range min="0" max="100" step="1" ticks="10" pin [(ngModel)]="rate">
    <ion-icon slot="start" name="play-outline"></ion-icon>
    <ion-icon slot="end" name="play-forward-outline"></ion-icon>
  </ion-range>

  <ion-range min="0" max="100" step="1" ticks="10" pin [(ngModel)]="volume">
    <ion-icon slot="start" name="volume-low-outline"></ion-icon>
    <ion-icon slot="end" name="volume-high-outline"></ion-icon>
  </ion-range>
</p>
