<p>
  <ion-button name="say" (click)="say(question)"><ion-icon name="megaphone"></ion-icon><span *ngIf="wrongAnswer">{{question}}</span></ion-button>

  <ion-button [disabled]="wrongAnswer" name="hint" (click)="showHint()">{{hint}}</ion-button>

  <ion-input #numberInput [disabled]="wrongAnswer" (ionChange)="inputChanged($event.detail.value)" autofocus="true" type="number" inputmode="numeric" [(ngModel)]="answer"></ion-input>

  <ion-button [disabled]="answerIsEmpty" name="check" (click)="checkAnswer()">
    <ion-icon name="checkmark"></ion-icon>
  </ion-button>

  <ion-button *ngIf="wrongAnswer" color="danger" name="sayAnswer" (click)="say(answer)"><ion-icon name="megaphone"></ion-icon></ion-button>

  <ion-range [disabled]="true" min="0" max="100" step="1" ticks="10" [(ngModel)]="score">
    <span slot="start">good</span>
    <span slot="end">learn more</span>
  </ion-range>
</p>
