<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button expand="block" routerLink="/learn-nums" routerDirection="root">
      Learn numbers
    </ion-button>
    <ion-button expand="block" routerLink="/show-probdb" routerDirection="root">
      Show Probability DBs
    </ion-button>
  </div>
</ion-content>
